/*Color*/
$nav: #2a2d2e;
$icon: #cf38ef;
$dark: #3a4142;
$text: #4a4a4a;
$light: #fff;
$subtitle: #2d2b2b;
$reviws: #96a9bb;
$contact: #493f3f;
$form-text: #5b646e;
$form-icon: #062033;
$button: #0996e2;
$border: #efefef;
$line: #f5f5f5;
$point: #d828b8;;